:host {
  display: block;
}
.form {
  &__content-section {
    mat-form-field {
      width: 400px;
    }
    padding-bottom: 100px;
  }
}
.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
