:host {
  ::ng-deep mat-horizontal-stepper {
    padding: 0 !important;
    .mat-horizontal-content-container {
      min-height: calc(100vh - 400px) !important;
      padding-bottom: 0 !important;
    }
  }
  ::ng-deep mat-form-field {
    button {
      outline: none !important;
    }
    .loader {
      min-height: calc(100vh - 175px) !important;
    }
  }
  .form-container {
    min-height: calc(100vh - 175px);
  }
  .stepper {
    min-height: 100%;
    padding: 30px;
    padding-bottom: 0;
    background-color: inherit;
  }
  .empty-info {
    line-height: 2.5rem;
    font-size: 2rem;
    font-family: "Lato", serif;
    text-align: start;
    font-style: italic;
    padding-bottom: 30px;
  }
  .fixed-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  .form {
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    .mat-form-field {
      margin-bottom: 10px;
      min-width: 300px;
    }
    .textarea {
      width: 100% !important;
    }
    .my-container-sm {
      @extend .my-container;
      padding: 10px;
      max-width: 320px !important;
      position: relative;
      .trash-button {
        position: absolute;
        right: 25px;
        top: 5px;
        outline: none !important;
      }
    }
    .item-mr-10 {
      & > mat-form-field {
        margin-right: 20px;
      }
    }
    .question {
      border: 1px solid #898;
      position: relative;
      box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.07),
        0 2px 5.3px rgba(0, 0, 0, 0.148), 0 6px 10px rgba(0, 0, 0, 0.21);
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: #fff;
      &__number {
        font-variant: small-caps;
        font-size: 1.2rem;
        line-height: 2rem;
      }
      &__number + mat-form-field {
        margin-top: 20px;
      }
      &__ol {
        list-style-type: upper-alpha;
        margin-left: 20px;
        mat-form-field {
          margin-left: 10px;
        }
      }
      .trash-button {
        position: absolute;
        top: 10px;
        right: 30px;
        outline: none !important;
      }
    }
    &__image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .my-container {
        position: relative;
        background-color: #fafafa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25),
          0 4px 10px rgba(0, 0, 0, 0.22);
        max-width: 640px;
        img {
          border: 1px solid black;
          border-radius: 3px;
        }
      }
      .trash-button {
        position: absolute;
        right: 25px;
        top: 15px;
        outline: none !important;
      }
      .buttons {
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &--file {
        color: transparent;
        width: 100%;
        &::-webkit-file-upload-button {
          visibility: hidden;
        }
        &::before {
          content: "Wybierz plik lub upuść";
          color: black;
          display: block;
          background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
          border: 1px solid #999;
          border-radius: 3px;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt;
          width: calc(100% - 100px);
          text-align: center;
        }
        &:hover::before {
          border-color: black;
        }
        &:active,
        &:focus {
          outline: 0;
          border: 0;
        }
        &:active::before {
          background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
      }
    }
  }
}

.end-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  h2 {
    color: #fe3d8a;
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    font-style: italic;
  }
  & > * {
    padding-bottom: 30px;
  }
  & > div > button {
    &:first-child {
      margin-right: 200px;
    }
    font-size: 1.5rem;
    padding: 5px 20px;
  }
}
