<section class="form-container">
    <app-loader [loading]="loading$ | async">
      <mat-horizontal-stepper #stepper class="stepper" [linear]="true">

        <mat-step [stepControl]="form.controls['basic']" errorMessage="Błędy w formularzu">
            <form *ngIf="form.controls['basic'] as basic" [formGroup]="basic" class="form">
              <ng-template matStepLabel>Podstawowe dane</ng-template>

                <mat-form-field appearance="outline" >
                  <mat-label>Nazwa quizu</mat-label>
                  <input matInput #quizName formControlName="title" maxlength="50">
                  <mat-hint align="end">{{quizName.value?.length || 0}}/50</mat-hint>
                  <mat-error *ngIf="basic['controls']['title'].invalid">
                    Nazwa jest wymagana.
                  </mat-error>
                </mat-form-field>

                <div formGroupName="category">
                  <mat-form-field appearance="outline">
                    <mat-label>Wybierz kategorię</mat-label>
                    <mat-select formControlName="id">
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="basic['controls']['category']['controls']['id'].invalid">
                      Kategoria jest wymagana.
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="textarea">
                  <mat-label>Opis</mat-label>
                  <textarea matInput
                      rows="7"
                      formControlName="description">
                  </textarea>
                </mat-form-field>
                
                <mat-form-field appearance="outline" hintLabel="Domyślnie nielimitowany">
                  <mat-label>Czas trwania quizu</mat-label>
                  <input matInput formControlName="time" type="number">
                  <span matSuffix>
                    minut
                  </span>
                  <mat-error *ngIf="basic['controls']['time'].invalid">
                    Minimalna wartość wynosi 0.
                  </mat-error>
                </mat-form-field>

                <mat-checkbox #approaches formControlName="isInfinity">Nielimitowana ilość podejść</mat-checkbox>

                <mat-form-field appearance="outline">
                  <mat-label>Ilość podejść</mat-label>
                  <input matInput formControlName="approachesCount" type="number" [readonly]="approaches.checked">
                  <mat-error *ngIf="basic['controls']['approachesCount'].invalid">
                    Minimalna wartość wynosi 0.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Data rozpoczęcia quizu</mat-label>
                  <input matInput formControlName="startDate" [ngxMatDatetimePicker]="startPicker" [min]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #startPicker
                    [showSeconds]="true"
                    [touchUi]="true">
                  </ngx-mat-datetime-picker>
                  <mat-error *ngIf="basic['controls']['startDate'].invalid">
                    Błędna data.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Data zakończenia quizu</mat-label>
                  <input matInput formControlName="endingDate" [ngxMatDatetimePicker]="endingPicker" [min]="getEndMinDate()">
                  <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #endingPicker
                    [showSeconds]="true"
                    [touchUi]="true">
                  </ngx-mat-datetime-picker>
                  <mat-error *ngIf="basic['controls']['endingDate'].invalid">
                    Błędna data.
                  </mat-error>
                </mat-form-field>

                <div class="ml-auto">
                  <button mat-raised-button color="primary" matStepperNext>
                    Następna
                  </button>
                </div>
            </form>
        </mat-step>

        <mat-step [optional]="true">
            <form [formGroup]="form" class="form">
              <ng-template matStepLabel>Obrazek</ng-template>
              <section class="form__image-section">
                
                <div *ngIf="(isEdit && isLoaded) || !isEdit" class="img-conts">
                  <div class="my-container">
                    <input 
                      #img
                      type='file'
                      accept="image/*"
                      class="form__image-section--file"
                      onCreate
                      (onCreateEvent)="setImg('img')"
                      (change)="change(img, 'img')"/>
                      <button mat-mini-fab (click)="clearImage('img')" class="trash-button" title="Usuń obrazek">
                        <mat-icon>delete</mat-icon>
                      </button>
                    <img id="img" width="600px" height="400px"/>
                  </div>
                </div>

                <div class="buttons">
                  <button mat-raised-button color="primary" matStepperPrevious>Poprzednia</button>
                  <button mat-raised-button color="primary" matStepperNext>Następna</button>
                </div>
              </section>
            </form>
        </mat-step>

        <mat-step [stepControl]="form.controls['questions']" errorMessage="Błędy w pytaniach" *ngIf="!isEdit">
            <form [formGroup]="form" class="form">
                <ng-template matStepLabel>Pytania</ng-template>
                <div formArrayName="questions" class="w-100 d-flex flex-column">
                  <div *ngFor="let question of questions.controls; let questionId=index" [formGroupName]="questionId" class="question">

                    <button mat-mini-fab (click)="deleteQuestion(questionId)" color="primary" class="trash-button" title="Usuń pytanie">
                      <mat-icon>delete</mat-icon>
                    </button>

                    <span class="question__number"> Numer pytania: {{ questionId + 1 }} </span>

                    <mat-form-field appearance="outline" class="textarea">
                      <mat-label>Treść pytania</mat-label>
                      <textarea matInput
                          rows="7"
                          formControlName="content">
                      </textarea>
                      <mat-error *ngIf="question['controls']['content'].invalid">Treść jest wymagana.</mat-error>
                    </mat-form-field>

                    <div class="my-container-sm ml-auto mr-auto">
                      <input
                        #img
                        type='file'
                        accept="image/*"
                        class="form__image-section--file"
                        onCreate
                        (onCreateEvent)="setImg('q' + questionId)"
                        (change)="change(img, 'q' + questionId)"/>
                        <button mat-mini-fab (click)="clearImage('q' + questionId)" class="trash-button" title="Usuń obrazek">
                          <mat-icon>delete</mat-icon>
                        </button>
                      <img [id]="'q' + questionId" width="300px" height="200px"/>
                    </div>

                    <div class="item-mr-10">
                      <mat-form-field appearance="outline">
                        <mat-label>Liczba punktów</mat-label>
                        <input matInput formControlName="pointsCount" type="number" required>
                        <mat-error *ngIf="question['controls']['pointsCount'].invalid">
                          Liczba punktów jest wymagana i musi być większa od 0.
                        </mat-error>
                      </mat-form-field>
  
                      <mat-form-field appearance="outline">
                        <mat-label>Typ pytania</mat-label>
                        <mat-select formControlName="type" #select>
                          <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.label}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="question['controls']['type'].invalid">
                          Typ pytania jest wymagany.
                        </mat-error>
                      </mat-form-field>
                      <button
                        mat-raised-button color="basic"
                        (click)="addAnswer(questionId)"
                        [disabled]="!select.value">
                        Dodaj odpowiedź
                      </button>
                    </div>

                    <mat-radio-group formControlName="correctRadio">
                      <ol formArrayName="answers" class="question__ol">
                        <li *ngFor="let answer of answers(questionId).controls; let answerId=index" [formGroupName]="answerId" class="d-flex">
  
                          <mat-checkbox *ngIf="select.value === 'CHECKBOX'" formControlName="correct" class="align-self-center"></mat-checkbox>
                          <mat-radio-button *ngIf="select.value === 'RADIO'" [value]="answerId" class="align-self-center"></mat-radio-button>
  
                          <mat-form-field appearance="outline" >
                            <mat-label>Odpowiedź</mat-label>
                            <input matInput #answerContent formControlName="content" maxlength="50">
                            <mat-hint align="end">{{answerContent.value?.length || 0}}/50</mat-hint>
                            <!-- <mat-error *ngIf="answer['controls']['answerContent'].invalid">Odpowiedź jest wymagana.</mat-error> -->
                          </mat-form-field>
                          <button mat-mini-fab (click)="deleteAnswer(questionId, answerId)" color="primary" class="ml-3" title="Usuń odpowiedź">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </li>
                      </ol>
                    </mat-radio-group>

                  </div>
                  <span *ngIf="!questions.controls.length" class="empty-info">Brak pytań.</span>
                  <button mat-raised-button color="accent" (click)="addQuestion()">Dodaj pytanie</button>
                </div>
                <div class="fixed-button">
                  <button mat-raised-button color="primary" matStepperPrevious>Poprzednia</button>
                  <button mat-raised-button color="primary" matStepperNext>Następna</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Zakończone</ng-template>
            <section class="end-view">
              <h2>Gratulacje!</h2>
              <p>
                {{
                  isEdit?
                  'Przeszedłeś pomyślnie przez etap edycji quizu. Czy chcesz go zapisać?' :
                  'Przeszedłeś pomyślnie przez etap tworzenia quizu. Czy chcesz go zapisać?'
                }}
              </p>
              <div>
                <button mat-raised-button (click)="cancel()">Anuluj</button>
                <button mat-raised-button color="accent" (click)="save()" [disabled]="!form.valid">
                  {{ isEdit ? 'Zapisz' : 'Utwórz'}}
                </button>
              </div>
            </section>
        </mat-step>
    </mat-horizontal-stepper>
    </app-loader>
</section>