<section class="img-container">
    <nav class="img-container__nav">
        <div class="img-container__nav--image">
            <app-logo></app-logo>
        </div>
        <div *ngIf="(user$ | async)?.firstName; else notLoggedIn" class="img-container__nav--options">
            <div *ngIf="user$ | async as user" style="font-size: 18px;">
                {{ user.firstName + ' ' + user.lastName }}
            </div>
        </div>
        <ng-template #notLoggedIn>
            <div class="img-container__nav--options">
                <button mat-stroked-button color="basic" class="faq">
                    FAQ
                </button>
                <button class="login-button" mat-raised-button color="accent" (click)="loginRoute()">
                    Zaloguj
                </button>
            </div>
        </ng-template>
    </nav>
    <section class="img-container__section">
        <div class="text-section d-flex flex-column align-items-center justify-content-around">
            <h1 class="img-container__section--h1">quiz pro</h1>
            <span class="img-container__section--span">Przetestuj swoje możliwości</span>
            <button
                *ngIf="(user$ | async)?.firstName"
                mat-stroked-button
                color="accent"
                class="main-button"
                (click)="goToDashboard()">
                Przejdź do strony głównej
            </button>
        </div>
    </section>
    <footer class="img-container__footer container-fluid d-flex flex-column justify-content-around flex-wrap">
        <div class="w-100 m-0 p-0 d-flex justify-content-between">
          <div class="m-0 p-0 d-flex justify-content-around flex-wrap footer-items">
            <span (click)="openDialog('statue')" class="footer-item p-2">Regulamin</span>
            <span (click)="openDialog('privacyPolicy')" class="footer-item p-2">Polityka prywatnośći</span>
            <span (click)="openDialog('cookiesPolicy')" class="footer-item p-2">Polityka plików cookies</span>
          </div>
          <span class="text-white p-2">&copy; Adrian Kowal & Mateusz Kolak</span>
        </div>
    </footer>
    <section class="loader" *ngIf="(loading$ | async) && click">
        <mat-spinner diameter="200" color="accent"></mat-spinner>
    </section>
</section>