.confirm-content {
  min-height: 170px;
  min-width: 600px;
  height: 100%;
  width: 100%;
  padding: 30px;
  &__button-section {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
  }
}
button {
  outline: none;
}
