<section class="table-wrapper">
    <section class="form-in-table-wrapper">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input #name matInput formControlName="name" maxlength="50">
                <mat-hint align="end">{{ name.value?.length || 0 }}/50</mat-hint>
            </mat-form-field>
        </form>
    </section>
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="lp">
            <mat-header-cell *matHeaderCellDef class="col-1">Lp</mat-header-cell>
            <td *matCellDef="let element" class="col-1">{{ element.lp }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="col-4">Nazwa</mat-header-cell>
            <td *matCellDef="let element" class="col-4">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2">Id</mat-header-cell>
            <td *matCellDef="let element" class="col-2">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="createDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2">Data utworzenia</mat-header-cell>
            <td *matCellDef="let element" class="col-2">{{ element.createDate | date:'medium' }}</td>
        </ng-container>

        <ng-container matColumnDef="countQuizzes">
            <mat-header-cell *matHeaderCellDef class="col-2">Ilość quizów</mat-header-cell>
            <td *matCellDef="let element" class="col-2">{{ element.countQuizzes }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="col-1 action-header">Akcje</mat-header-cell>
            <td *matCellDef="let element" class="col-1">
                <div class="action-buttons">
                    <button mat-icon-button color="primary" title="Edytuj" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Usuń" (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
    <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100]"
    [pageSize]="20"
    showFirstLastButtons>
    </mat-paginator>
    <section class="mat-spinner-wrapper" *ngIf="dataSource.loading$ | async">
        <mat-spinner diameter="100" color="accent"></mat-spinner>
    </section>
</section>
