<nav class="navbar container-fluid">
    <button mat-raised-button class="navbar__button" (click)="sidenav.toggle()">
        <i class="fa fa-bars"></i>
    </button>
    <!-- <app-logo></app-logo> -->
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="user$ | async as user" class="navbar__mat-button">
      {{ user.firstName + ' ' + user.lastName }}
      <i class="fa fa-chevron-down"></i>
    </button>
    <mat-menu #menu="matMenu" class="navbar__menu">
      <button mat-menu-item class="navbar__menu--item">Moje konto</button>
      <button mat-menu-item class="navbar__menu--item">Historia</button>
      <button mat-menu-item class="navbar__menu--item" (click)="logout()">Wyloguj</button>
    </mat-menu>
</nav>
<main class="main-window">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <ul class="sidenav-list">
        <li *ngFor="let item of items" class="sidenav-list__li">
          <a [routerLink]="item.route" [routerLinkActive]="['active']">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.content }}</span>
          </a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <section class="breadrumbs">
        <span>
          <mat-icon>video_label</mat-icon>
          <span>Strona Główna</span>
        </span>
        <div *ngIf="header$ | async as header">
          <button mat-raised-button color="accent" (click)="header.action()">
            <mat-icon>{{ header.icon }}</mat-icon>
            {{ header.text }}
          </button>
        </div>
      </section>
      <router-outlet></router-outlet>
      <footer class="footer">
        <span></span>
        <span>&copy; Adrian Kowal & Mateusz Kolak</span>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>