.category {
  padding-bottom: 10px;
  &__h2 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 28px;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.05);
  button {
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #007bff;
  }
}

:host ::ng-deep {
  .swiper-container {
    width: 100%;
    height: 250px;
  }
  .swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    height: calc(100% - 40px);
    width: 100%;
    border: 1px solid black;
    margin: 0 3px;
    padding: 10px;
    border-radius: 5px;
    background-color: #017bbd;
    cursor: pointer;
  }
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
    top: 100px;
  }
}
