.form-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  &__header {
    letter-spacing: 2px;
    font-variant: all-small-caps;
    font-style: italic;
    font-size: 2.25rem;
    color: #fe3d8a;
  }
  &__description {
    color: #535641;
    font-size: 1.25rem;
  }
}
.wrapper-content {
  padding-top: 50px;
}
