<app-loader [loading]="loading$ | async">
    <form>
        <mat-horizontal-stepper *ngIf="quizComplete$ | async as quizComplete">
            <mat-step *ngFor="let question of quizComplete.questions; let first = first; let last = last">
                <section class="d-flex pl-5 flex-column align-items-start justify-content-around question">
                    <h1> {{ question.content }} </h1>
                    <img *ngIf="question.image; else emptyImg" width="600px" height="300px" [src]="question.image"/>
                    <ng-template #emptyImg>
                        <div class="question-mark"></div>
                    </ng-template>
                    <section class="pt-5 answers">
                        <div *ngIf="question.type === 'CHECKBOX'; else radio" class="d-flex flex-column pt-3">
                            <mat-checkbox #qC
                                *ngFor="let answer of question.answers"
                                class="answer"
                                (click)="setAnswerToQuestionCheckbox(question.id, answer.id, qC.checked)">
                                {{ answer.content }}
                            </mat-checkbox>
                        </div>
                        <ng-template #radio>
                            <mat-radio-group (change)="setAnswerToQuestionRadio(question.id, $event.value)" class="d-flex flex-column pt-3 answer">
                                <mat-radio-button
                                        *ngFor="let answer of question.answers"
                                        [value]="answer.id">
                                        {{ answer.content }}
                                    </mat-radio-button>
                            </mat-radio-group>
                        </ng-template>
                    </section>
                    <section class="w-100 d-flex pt-5">
                        <section *ngIf="!first">
                            <button mat-raised-button color="primary" matStepperPrevious>Poprzednie</button>
                        </section>
                        <section *ngIf="last; else notLast" class="ml-auto">
                            <button mat-raised-button color="accent" (click)="save()">Zakończ quiz</button>
                        </section>
                        <ng-template #notLast>
                            <button mat-raised-button color="accent" class="ml-auto" matStepperNext>Następne</button>
                        </ng-template>
                    </section>
                    <section class="timer">
                        <span>
                            Pozostało czasu:
                        </span>
                        <span>
                            {{ timer }}
                        </span>
                    </section>
                </section>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</app-loader>