@import "~swiper/swiper-bundle";

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe\ UI.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/Segoe\ UI\ Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("../fonts/Segoe\ UI\ Italic.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url("../fonts/Segoe\ UI\ Bold\ Italic.ttf");
  font-style: normal;
}

html,
body {
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

mat-dialog-container {
  padding: 0 !important;
  border-radius: 10px !important;
}

.module-content {
  padding: 25px;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.table-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.012), 0 2px 7px rgba(0, 0, 0, 0.024),
    0 4px 10px rgba(0, 0, 0, 0.54);
}

.form {
  position: relative;
  &__button-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
}

button[mat-raised-button] {
  outline: none !important;
}

.table-wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.form-in-table-wrapper {
  padding: 5px 20px;
}

.mat-spinner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.action-buttons,
.action-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.action-buttons {
  button {
    outline: none !important;
  }
}

.action-header {
  justify-content: flex-end;
}

mat-table {
  & > mat-row:nth-child(even) {
    background-color: #f6f4f3;
  }
}

button {
  outline: none !important;
}

.max-width-lp {
  max-width: 50px !important;
}

.max-width-actions {
  max-width: 150px !important;
}
