@import "~swiper/swiper-bundle";

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe\ UI.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/Segoe\ UI\ Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("../fonts/Segoe\ UI\ Italic.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url("../fonts/Segoe\ UI\ Bold\ Italic.ttf");
  font-style: normal;
}

html,
body {
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

mat-dialog-container {
  padding: 0 !important;
  border-radius: 10px !important;
}

.p-25-25 {
  padding: 25px 150px;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.table-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.012), 0 2px 7px rgba(0, 0, 0, 0.024),
    0 4px 10px rgba(0, 0, 0, 0.54);
}

.form {
  position: relative;
  &__button-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
}

button[mat-raised-button] {
  outline: none !important;
}
